<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex m-2">
        <div sec:authorize="isAuthenticated()" class="font-weight-bold p-2"> Hello, <span
                th:text="${#authentication.getPrincipal().getUsername()}"></span></div>
        <a sec:authorize="!isAuthenticated()" class="btn btn-success m-1" href="/login">login</a>
        <a sec:authorize="!isAuthenticated()" class="btn btn-primary m-1" href="/registration">Register</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn btn-primary ml-auto">Log out</a>
    </div>
    <div class="container">
        <div class="row">
            <h1>List Books</h1>
        </div>
        <a sec:authorize="isAuthenticated()" th:href="@{books/{id}(id = -1)}" class="btn btn-success col-lg-12">Add
            Book</a>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th class="w-25 text-center">Title</th>
                    <th class="w-15 text-center">Author</th>
                    <th class="w-15 text-center">Category</th>
                    <th class="w-15 text-center">Release Date</th>
                    <th class="w-5 text-center">Number Of Pages</th>
                    <th class="w-25 text-center">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="book: ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.category}"></td>
                    <td th:text="${book.releaseDate}"></td>
                    <td th:text="${book.nOP}"></td>
                    <td sec:authorize="isAuthenticated()">
                        <a th:href="@{books/{id}(id = ${book.id})}" class="btn btn-success">View</a>
                        <a th:href="@{books/delete/{id}(id = ${book.id})}" class="btn btn-danger"
                            onclick="return confirm('Are you sure?')">Delete</a>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>